# Build directories and intermediate files

Debug/
Dev/
Release/
Shipping/
GeneratedFiles/
ipch/


# File patterns

*.a
*.app
*.aps
*.diff
*.dll
*.dylib
*.exe
*.fxo
*.jobbin2
*.la
*.lib
*.lo
*.mk
*.ncb
*.o
*.obj
*.opensdf
*.out
*.patch
*.pdb
*.pri
*.sdf
*.sln.cache
*.slo
*.so
*.sublime-project
*.sublime-workspace
*.suo
*.tss
*.user
*.vcproj
*.vcxproj
*.vcxproj.filters
*.xcodeproj
*.xcworkspace
*.log
*.vtcache
*.tmp_proj


# Generated source code

**/AssemblyInfo.cs
**/AssemblyInfo.cpp


# Webstorm config

.idea/
